{{#section 'styles'}}
<link rel="stylesheet" href="/stylesheets/index.css">
{{/section}}

<div class="d-flex flex-column bg-setup text-white">
<div class="container mx-auto px-4">
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-transparent px-4 py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-5" href="#">
        <img src="/images/Logo.png" alt="logo" width="50">
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto  fw-light">
          <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/aboutLogin">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">News</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hero Section -->
  <main class="d-flex flex-column align-items-center text-center mt-5 px-3">
    <h2 class="fs-3 mb-5 pb-3 fw-light text-font">J O I N . T H E . M O V E M E N T</h2>

  <h5 class="mt-4">Thanks for your Early Bird Investment <b>1000 USDT</b></h5>
  <h3 class="mt-1"><b>Benefits for Investment– Join The Movement  - JTM</b></h3>

    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mt-3 mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Be a early  bird investor
  </button>

  <p class="text-start pt-4 fw-light text-justify">   
  1.⁠ ⁠Profit Sharing & Capital Withdrawal – Profits will be shared after six (6) months, and from that point onward, investors may withdraw their capital at any time. 
  <br>
  2.⁠ ⁠Post-Capital Return Privileges – After the return of the initial capital, investors will continue to enjoy all company privileges, including profit-sharing, affiliate income, and trading support.
  <br>
  3.⁠ ⁠Annual Fully Paid Trip – Each initial investor will be entitled to one fully sponsored annual trip for themselves and their family, organized and paid for by Join The Movement (JTM).
  <br>
  4.⁠ ⁠Exclusive Trading Education & Support – Investors will receive access to a special trading course, along with continuous professional support.
  <br>
  5.⁠ ⁠Direct Access to JTM Management – All initial investors will have priority and direct communication access to JTM’s management team.
  <br>
  6.⁠ ⁠Global Pool Participation – Investors will be part of JTM’s global profit pool and enjoy a lifelong share of benefits generated from worldwide business operations.</p>
  
  

<!-- Modal -->
<div class="modal backdrop-blur" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-transparent pb-5 border border-1 border-primary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Scan QR</h1>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/images/qr.png" alt="" height="200">

        <div class="fs-small">0xbd150c073A9f37A321Fc8d1Ba7a80E507ad006aa <button class="btn btn-outline-primary ms-2" id="copyBtn"><i class="bi bi-clipboard2"></i></button></div>

      </div>
    </div>
  </div>
</div>
  </main>

  <!-- Footer -->
  <footer class="opacity-50 text-secondary text-center mt-5 py-5">
    <div class="d-flex justify-content-center gap-3 mb-3">
      <a href="#"><i class="fab fa-facebook fa-lg text-secondary"></i></a>
      <a href="#"><i class="fab fa-instagram fa-lg text-secondary"></i></a>
      <a href="#"><i class="fab fa-youtube fa-lg text-secondary"></i></a>
    </div>

    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
      <div class="d-flex flex-wrap justify-content-center gap-2">
        <a href="#" class="text-decoration-none text-secondary">Disclaimer</a>
        <a href="#" class="text-decoration-none text-secondary">Terms of Use</a>
        <a href="#" class="text-decoration-none text-secondary">Cookies</a>
      </div>

      <div class="text-secondary small">
        All copyright JTM © 2025
      </div>

      <div class="text-secondary small">
        Avenue Louise 54, Brussels, Belgium
      </div>

    </div>
  </footer>
</div>
</div>

{{#section 'scripts'}}
<script src="/javascripts/index.js"></script>
{{/section}}